<!DOCTYPE html>
<html>
  <!-- Mirrored from educal-react.vercel.app/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Mar 2022 09:48:09 GMT -->
  <!-- Added by HTTrack --><meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  /><!-- /Added by HTTrack -->
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <script src="/code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <title>Digital Sign</title>
    <meta name="next-head-count" content="4" />
    <link rel="stylesheet" href="/_next/static/css/style.css" />
    <link
      rel="preload"
      href="/_next/static/css/e93ffd0fd4ff00993878.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/_next/static/css/e93ffd0fd4ff00993878.css"
      data-n-g=""
    />
    <link
      rel="preload"
      href="/_next/static/css/c2817adebe74aa9d569e.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/_next/static/css/c2817adebe74aa9d569e.css"
      data-n-p=""
    />

    <link rel="stylesheet" href="/_next/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->

    <noscript data-n-css=""></noscript>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction () {
        document.getElementById('myDropdown').classList.toggle('show')
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName('dropdown-content')
          var i
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i]
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show')
            }
          }
        }
      }
    </script>
    <script
      src="https://kit.fontawesome.com/9d6c5b128b.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills-a40ef1678bae11e696dba45124eadd70.js"
    ></script>
    <script
      src="/_next/static/chunks/webpack-2471e2b9f26338a9bb58.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/framework-35c00f345670df73c959.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main-4fc50673e5500481d568.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app-40a9fc86c42a39d069b3.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/591-e5fbdf1b1bac4291e30a.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/754-7a3cc28d73682d11e61a.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/157-d7724f17057b7a2b3c18.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/828-bb795530d6907db7d467.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/index-affe02c8fd805e31184c.js"
      defer=""
    ></script>
    <script
      src="/_next/static/cvtd5YVhXnpfoWreE8BcK/_buildManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/cvtd5YVhXnpfoWreE8BcK/_ssgManifest.js"
      defer=""
    ></script>
    <script src="/_next/static/chunks/upload.js" defer=""></script>
    <script src="/_next/static/chunks/signature.js" defer=""></script>
    <script src="/_next/static/chunks/uploadpdf.js" defer=""></script>
    <script src="/_next/static/chunks/signerlist.js" defer=""></script>

    <script
      class="jsbin"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"
      integrity="sha512-U5C477Z8VvmbYAoV4HDq17tf4wG6HXPC6/KM9+0/wEXQQ13gmKY2Zb0Z2vu0VNUWch4GlJ+Tl/dfoLOH4i2msw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <%- include('navlogin') %>
    <div><%- body %></div>

    <footer>
      <div class="footer__area footer-bg">
        <div class="footer__bottom">
          <div class="container">
            <div class="row">
              <div class="col-xxl-12">
                <div class="footer__copyright text-center">
                  <p>
                    © 2022 SMAN 90 Jakarta
                    <a href="index.html"></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
