<div id="__next">
  <main>
    <section
      class="hero__area hero__height hero__height-2 d-flex align-items-center blue-bg-3 p-relative fix"
    >
      <div class="hero__shape">
        <img
          class="hero-1-circle"
          src="/img/shape/hero/hero-1-circle.png"
          alt="img not found"
        /><img
          class="hero-1-circle-2"
          src="/img/shape/hero/hero-1-circle-2.png"
          alt="img not found"
        /><img
          class="hero-1-dot-2"
          src="/img/shape/hero/hero-1-dot-2.png"
          alt="img not found"
        />
      </div>
      <div class="container">
        <div class="hero__content-wrapper mt-90">
          <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="hero__content hero__content-2 p-relative z-index-1">
                <h3 class="hero__title hero__title-2">
                  Switch to<br />
                  <span class="yellow-shape">
                    Digital
                    <img
                      src="/img/shape/yellow-bg.png"
                      alt="yellow-shape"
                    /> </span
                  >Signature
                </h3>
                <br />
                <h4>
                  For All Your Online Signature - Free, Safely, and Thrustworthy
                </h4>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="hero__thumb-wrapper mb--120">
                <div class="hero__thumb-2 scene">
                  <img
                    class="hero-big"
                    src="/img/hero/hero-2/hero.png"
                    alt="img not found"
                  /><img
                    class="hero-shape-purple"
                    src="/img/hero/hero-2/hero-shape-purple.png"
                    alt="img not found"
                  />

                  <div class="hero__mic">
                    <h4>#SAVEYOURTIME</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="services__area pt-115 pb-40">
      <div class="container">
        <div class="row">
          <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3">
            <div
              class="section__title-wrapper section-padding mb-60 text-center"
            >
              <h2 class="section__title">
                Welcome Back
                <span class="yellow-bg"
                  ><%= nama %>
                  <img src="/img/shape/yellow-bg-2.png" alt="img not found"
                /></span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <a href="/document">
              <div class="services__item blue-bg-4 mb-30">
                <div class="services__icon">
                  <img src="/img/icon/file.png" />
                </div>
                <div class="services__content">
                  <h3 class="services__title">
                    DOCUMENT
                  </h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <a href="/digitalcertificate">
              <div class="services__item pink-bg mb-30">
                <div class="services__icon">
                  <img src="/img/icon/certificate.png" />
                </div>
                <div class="services__content">
                  <h3 class="services__title">
                    D. CERTIFICATE
                  </h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <a href="/signature">
              <div class="services__item purple-bg mb-30">
                <div class="services__icon">
                  <img src="/img/icon/digital-signature.png" />
                </div>
                <div class="services__content">
                  <h3 class="services__title">
                    SIGNATURE
                  </h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <a href="verifikasi2">
              <div class="services__item green-bg mb-30">
                <div class="services__icon">
                  <img src="/img/icon/search.png" />
                </div>
                <div class="services__content">
                  <h3 class="services__title">
                    AUTHENTICATION
                  </h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
